* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* header */
header {
  background-image: url('images/banner/banner3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner {
  padding: 0 230px 0 0;
}

.banner-title {
  font-size: 65px;
  text-align: right;
  color: #ffffff;
  width: 525px;
  margin-bottom: 24px;
}

.banner-desc {
  width: 525px;
  text-align: right;
  color: #ffffff;
}

.btn {
  display: flex;
  justify-content: end;
}

.btn-primary {
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #005fac;
  margin-top: 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* my-previous-year-failures */
.my-previous-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 130px auto;
  gap: 87px;
  width: 1072px;
}

.previous-year-title {
  height: 94px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.previous-year-desc {
  color: #444343;
  margin-bottom: 16px;
}

.previous-year-q {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-check {
  color: green;
}

/* my-plans style */
.plan {
  text-align: center;
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.my-plans {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 130px;
}

.plan-content {
  text-align: center;
}

.plan-title {
  margin: 16px 16px;
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan-desc {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* mindset */
.mindset-goal {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.mindset {
  background-image: url('images/gradient1.png');
  background-repeat: no-repeat;
  position: relative;
}

.mindset img {
  opacity: 0.5;
}

.mindset-content {
  position: absolute;
  top: 59px;
  left: 64px;
}

.mindset-content h4 {
  width: 459px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 16px;
}

.mindset-content button {
  padding: 12px 24px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #005fac;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* footer work */
footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #151414;
  padding: 130px 230px;
}

.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.footer-desc {
  margin-bottom: 24px;
  width: 485px;
  color: #ffffff;
}

.footer-sub h4 {
  margin-bottom: 31px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}

form input {
  width: 325px;
  padding: 12px 10px;
  border-radius: 10px;
  background-color: #151414;
  color: #f8f8f8;
  border: 1px solid #f3f3f3;
  outline: none;
  margin-bottom: 16px;
}

form input::placeholder {
  color: #f3f3f3;
}

form button {
  padding: 12px 24px;
  color: #ffffff;
  border-radius: 6px;
  background-color: #005fac;
  cursor: pointer;
}
